//Efeito parallax no banner

.parallax {
  /* The image used */
  background-image: url("https://wallpapercave.com/wp/wp4141052.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-main-dh {
  width: 100%;

  position: relative;
  top: 25%;
  left: 15%;

  h1 {
    font-family: $font-title;
    color: $white;
    font-size: $font-size1;
  }

  p {
    width: 40%;

    font-family: $font-text;
    color: $white-dark;
    font-size: $font-size4;
  }
}

.radial {
  width: 100%;
  height: 500px;

  background: linear-gradient(
    90deg,
    rgba(36, 36, 37, 0.9) 15%,
    rgba(36, 36, 37, 0.5) 100%
  );
}

@media (max-width: 1024px) {
  .container-main-dh {
    p {
      width: 75%;
    }
  }
}

@media (max-width: 600px) {
  .container-main-dh {

    h1{
        font-size: $font-size2;
    }

    p {
      display: none;
    }
  }
}
