//PALETA DE CORES

//cores principais
$blue: #1E4ECA;
$blue-light: #4171f0;
$blue-dark: #0B2F8C;

//cores auxiliares
$red: #CA1818;
$red-light: #f04141;
$red-dark: #8c0b0b;

$green: #33bb48;
$gree-light: #50d965;
$green-dark: #158c30;

$yellow: #fac337;
$yellow-light: #ffd76b;
$yellow-dark: #ebbb4b;

//cores bracas
$white: #edf1f5;
$white-light: #f7f9fa;
$white-dark: #dce1e5;

//cores pretas
$black: #242425;
$black-light: #3e3f40;
$black-dark: #18191a;
$black-transparent: rgba(24, 25, 26, 0.05);
