//estilizando a navbar

.sticky{
    position: sticky;
    top: 0;
    left: 0;
}

.bg-dark-dh{

    background-color: $black;
    position: sticky;
    top: 0;
    left: 0;

}

.z10{
    z-index: 10;
}

.d-flex{

    display: flex;
    flex-direction: row;
    align-items: center;
  
        .username{
  
    margin: 0px;
  
  }
  
        .logocabeca{
  
    height: 80px;
  
  }
  
        .fotouser{
  
    height: 50px;
    border-radius: 30px;
  
  }
}